.contenedorHome{
    display: flex;

    width: 90%;
    height: 80%;
}

.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    gap: 3rem;
}