
  .contenedorDetail{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
  }
  
  .DetailCard, .DetailCardPrecios {
    display: flex;
    flex-direction: column;
    background-color: #a3a6e57b;
    border-radius: 16px;
    box-shadow: 2px 2px 15px #dcdde67b;
    overflow: hidden;
    transition: 0.5s;
  }

  .DetailCardPrecios{
    gap: 2rem;
    padding: 2rem;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .DetailCard-header {
    width: 100%;
    height: 150px;
    box-shadow: 2px 2px 15px #dcdde67b;
  }
  
  .DetailCard-body {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FFFFFF;
  }
  
  .DetailCard-body-title {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    font-weight: bold;
  }
  
  .DetailCard-body-contentimg {
    width: 20%;
    height: 100%;
    border: 5px solid #4e54c8;
    border-radius: 50%;
    background-color: #6283c54a;
    box-shadow: 0px -10px 20px #3cb4df;
    margin-top: -20px;
    color: #51cd3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .DetailCard-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 1.5rem;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
  
  .DetailCard-footer-precio {
    text-align: center;
    margin-top: 2rem;
    border-bottom: 1px solid #FFFFFF;
  }
  
  .precioRebajadoPrecios{
    color: #51cd3b;
  }
  
  .precioRebajadoPrecios h3{
    transform: translateY(-1rem);
  }
  
  .precioRebajadoPrecios h4{
    transform: translateY(-1rem);
    font-size: 3rem;
  }
  
  .preciOriginalPrecios h4{
    text-decoration: line-through;
  }

  .preciOriginalPrecios{
    font-size: 2rem;
  }

  .descuentoPrecios{
    font-size: 2rem;
  }

  .favButton{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #dcdde67b;
    border: 1px solid #4e54c8;
  }

  .favButton{
    color: white;
    font-size: 2rem;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: #dcdde67b;
    border: 1px solid #4e54c8;
    transition: 0.25s;
  }

  .favButton:hover{
    color: #4e54c8;
    transition: 0.25s;
    width: 110px;
  }

  .metacritic{
    width: 50px;
  }


  @media (max-width: 800px) {
    .contenedorDetail{
      flex-direction: column;
      /* margin-top: 5rem;
      margin-bottom: 5rem;
      height: 80%; */
    }
  
    .DetailCardPrecios{
      flex-direction: row;
      /* width: 90%; */
      height: 20%;
    }

    .preciOriginalPrecios{
      font-size: 1rem;
    }
  
    .descuentoPrecios{
      font-size: 1rem;
    }
  }